:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(12px + 0.9vw);
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  width: 20vw;

  .logo {
    display: flex;
  }

  .logo img {
    max-width: 100%;
    width: 150px;
    height: auto;
  }

  .description {
    display: flex;
    p {
      font-weight: lighter;
    }
  }

  .navigation {
    display: flex;
  }

  .social {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    .logos {
      display: flex;
      img {
        max-width: 100%;
        width: 1.5rem;
        height: auto;
        margin: 0.3rem;
      }
    }
  }
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 0;
  width: 80vw;
  padding: 3rem;
}

.post {
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    a:active {
      text-decoration: underline;
    }
  }
  time {
    color: darkgrey;
  }
  a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-style: double;
  }

  a:active {
    text-decoration: underline;
    text-decoration-style: double;
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

a.button {
  padding: 0.5rem;
  background-color: black;
  border: 2px solid black;
  border-style: solid;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 3rem;

  li {
    padding-top: 1rem;
  }
  a {
    font-size: 2rem;
    color: lightgray;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
}

td {
  padding: 0.3rem
}